* {
  margin: 0;
  padding: 0;
  background-image: url("../images/bbh1.jpg");
}
#game-container {
  width: 100%;
  height: 100%;
}

#game-screen {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}